<h1>Tags</h1>

<ul>
    <% @tags.each do |tag| %>
        <%= link_to tag.name, tag_path(tag) %>
        <%= link_to "Delete", tag_path(tag), method: :delete, data: { confirm: "Really delete?" } %><br />
    <% end %>
</ul>